.inputText {
  position: relative;
  width: 100%;
}

.inputTextWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  padding: 8px 12px 8px 40px;
  width: 100%;
  max-width: 323px;
  border: 1px solid #d1d1d6;
  border-radius: 4px;
  font-size: 14px;
  background: #fff;
  overflow: hidden;
  color: #1a1a1e;
  text-overflow: ellipsis;
  font-family: "Inter";
  font-size: 12px;
  padding-right: 60px;
}

/* Розміри інпута */
.small {
  height: auto;
  font-size: 12px;
}

.medium {
  height: 40px;
  font-size: 14px;
}

.large {
  height: 50px;
  font-size: 16px;
}

/* Вирівнювання тексту */
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.hover:hover {
  border-color: #007aff;
}

.focus:focus {
  border-color: #007aff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 122, 255, 0.2);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error {
  border-color: #ff3b30;
}

/* Клас для приховування межі */
.borderNone {
  border: none !important;
}

.inputTextIcon {
  display: flex;
  align-items: center;
}

.inputTextIcon img {
  width: 16px;
  height: 16px;
}

.beforeLeft {
  position: absolute;
  left: 12px;
}

.rightIcons {
  display: flex;
  gap: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
}

.afterRight img {
  width: 16px;
  height: 16px;
}

.afterLeft img {
  width: 24px;
  height: 16px;
}
